[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim
[submodule "vim/bundle/kotlin-vim"]
	path = vim/bundle/kotlin-vim
	url = git://github.com/udalov/kotlin-vim
[submodule "vim/bundle/vim-localrc"]
	path = vim/bundle/vim-localrc
	url = git://github.com/thinca/vim-localrc
[submodule "vim/bundle/vim-ripgrep"]
	path = vim/bundle/vim-ripgrep
	url = git://github.com/jremmen/vim-ripgrep
