[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/bundle/kotlin-vim"]
	path = vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "vim/bundle/vim-localrc"]
	path = vim/bundle/vim-localrc
	url = https://github.com/thinca/vim-localrc
[submodule "vim/bundle/vim-ripgrep"]
	path = vim/bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "vim/bundle/vim-shader"]
	path = vim/bundle/vim-shader
	url = https://github.com/vim-scripts/ShaderHighLight
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/mendsley/vim-colors-solarized
[submodule "vim/bundle/vim-ps1"]
	path = vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/pack/vim-hcl"]
	path = vim/pack/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl.git
