<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="beyondcompare" version="4.4.7.20240301" />
  <package id="dotnet" />
  <package id="dotnet-6.0-sdk-4xx" version="6.0.413" />
  <package id="dotnet-sdk" />
  <package id="dotnet3.5" />
  <package id="gnucash" />
  <package id="gpg4win" />
  <package id="nodejs" />
  <package id="notepadplusplus" />
  <package id="npiperelay" />
  <package id="openvpn" />
  <package id="p4v" />
  <package id="powershell-core" />
  <package id="procexp" />
  <package id="python3" />
  <package id="ripgrep" />
  <package id="strawberryperl" />
  <package id="vault" />
  <package id="windirstat" />
  <package id="windows-sdk-11-version-22h2-all" version="10.0.22621.2" />
  <package id="winrar" />
  <package id="yubico-authenticator" />
</packages>
