<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="gpg4win" />
  <package id="dotnet" />
  <package id="dotnet-sdk" />
  <package id="notepadplusplus" />
  <package id="procexp" />
  <package id="ripgrep" />
  <package id="yubico-authenticator" />
  <package id="dotnet3.5" />
  <package id="dotnet-6.0-sdk-4xx" version="6.0.413" />
  <package id="windows-sdk-11-version-22h2-all" version="10.0.22621.2" />
  <package id="nodejs" />
</packages>
